<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light display-6">
        <h1><a href="../index.html" class="p-3">Una Pagina</a></h1>
        <div class="p-3 collapse navbar-collapse" id="navbarNav">
            
        <ul class="navbar-nav ">
            <li class="nav-item active">
            <a class="nav-link px-2" href="../views/ultimo-momento.html">Ultimo Momento</a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="../views/politica.html">Politica</a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="../views/economia.html">Economia</a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="../views/musica.html">Musica</a>
            </li>
        </ul>
        </div>
    </nav>


    <div class="container">
        <h1 class="mt-4">ECONOMIA</h1>
        <div class="row mt-5">
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia1.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia2.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia3.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia4.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia5.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia6.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia7.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia8.png" alt="" class="w-100">
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        </div>
    </div>

    <footer class="mt-5 bg-light text-center text-lg-start">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">UnaPagina.com</a>
        </div>

    </footer>
</body>
</html>