<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Noticias de Economía</title>
</head>
<body>
    <header>
        
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
            <div class="nav-title">
                <a href="../index.html">Una Página</a>
            </div>
            </div>
            <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
            </div>
            
            <div class="nav-links">
            <a href="../views/economia.html">Economia</a>
            <a href="../views/musica.html">Música</a>
            <a href="../views/politica.html">Politica</a>
            <a href="../views/ultimo-momento.html">Ultimo Momento</a>
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="mt-4">ECONOMIA</h2>
        <div class="row mt-5">
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia1.png" alt="" class="w-100">
            <h4>El gremio del Neumático</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia2.png" alt="" class="w-100">
            <h4>Sergio Massa</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia3.png" alt="" class="w-100">
            <h4>Supermercado</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia4.png" alt="" class="w-100">
            <h4>Pobreza</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia5.png" alt="" class="w-100">
            <h4>Turismo</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia6.png" alt="" class="w-100">
            <h4>El Dólar</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia7.png" alt="" class="w-100">
            <h4>El Dólar</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/economia8.png" alt="" class="w-100">
            <h4>Ministerio de Economía</h4>
            <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium cum ratione sed, quasi est sunt quaerat rem praesentium nam numquam voluptatem consequuntur consectetur, sequi ab tempore ea voluptates impedit sapiente.</p>
            <button class="">Mas Información</button>
        </div>
        </div>
    </div>

    <footer class="mt-5 bg-light text-center text-lg-start">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">UnaPagina.com</a>
        </div>

    </footer>
</body>
</html>