<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Noticias de Economía</title>
</head>
<body>
    <header>
        
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
            <div class="nav-title">
                <a href="../index.html">Una Página</a>
            </div>
            </div>
            <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
            </div>
            
            <div class="nav-links">
            <a href="../views/economia.html">Economia</a>
            <a href="../views/cultura.html">Cultura</a>
            <a href="../views/politica.html">Politica</a>
            <a href="../views/ultimo-momento.html">Ultimo Momento</a>
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="mt-4">ECONOMIA</h2>
        <div class="row mt-5">
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/Economia1.jpg" alt="" class="w-100">
            <h4>Las 5 medidas que Sergio Massa planea para ordenar la economía</h4>
            <p class="">El ministro de Economía concedió en el dìa de ayer una serie de entrevistas, en las que detalló cuales serán las próximas medidas de su gestión. En diálogo con Tuny KollMann (Radio 10), Sergio Massa habló del Ahora 30, Precios Justos, reservas, subisdios y retenciones. </p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 2</h3>
            <img src="../assets/img/Economia2.jpg" alt="" class="w-100">
            <h4>La política fiscal y el efecto inflacionario</h4>
            <p class="">El IPC creciendo al 100% anual juega a favor de la recaudación oficial por la distorsión de las escalas y mínimos no imponibles.</p>
            <button class="">Mas Información</button>
        </div>
        
        <div class="col">
            <h3 class="pt-3">Noticia 3</h3>
            <img src="../assets/img/Economia3.jpg" alt="" class="w-100">
            <h4>E-commerce, más que una moda</h4>
            <p class="">Durante la pandemia fue la tabla de salvación de empresas y consumidores, pero se consolidó como el canal de ventas más dinámico.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 4</h3>
            <img src="../assets/img/Economia4.jpg" alt="" class="w-100">
            <h4>Empresas con costos de logística a toda velocidad</h4>
            <p class="">La inflación altera las cuentas de la industria argentina en lo que a transporte se refiere. La búsqueda de alternativas.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h3 class="pt-3">Noticia 5</h3>
            <img src="../assets/img/Economia5.jpg" alt="" class="w-100">
            <h4>Sin reservas, pero con mil y un dólares</h4>
            <p class="">La certeza del atraso cambiario y la negativa a devaluar obliga al Gobierno a hacer parches para detener la sangría de dólares.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 6</h3>
            <img src="../assets/img/Economia6.jpg" alt="" class="w-100">
            <h4>La economía argentina, en plena turbulencia</h4>
            <p class="">La economía argentina debe afrontar un contexto de inflación, recesión, además del alza de los precios de commodities y energía.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 7</h3>
            <img src="../assets/img/Economia7.jpg" alt="" class="w-100">
            <h4>Argentina y un mercado laboral con grieta</h4>
            <p class="">Mientras la tasa de desempleo sigue bajando, se va precarizando más el mercado laboral contra el empleo formal privado.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 8</h3>
            <img src="../assets/img/Economia8.jpg" alt="" class="w-100">
            <h4>José de Mendiguren reconoció que contra la inflación "fracasamos"</h4>
            <p class="">​​"Ninguno de todos los economistas y políticos que estamos actuando puede demostrar un éxito del tratamiento inflacionario", apuntó con humildad el secretario de Industria y Desarrollo Productivo.</p>
            <button class="">Mas Información</button>
        </div>
        </div>
    </div>

    <footer class="mt-5 bg-light text-center text-lg-start">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">UnaPagina.com</a>
        </div>

    </footer>
</body>
</html>