<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><a href="../index.html">Una Pagina</a></h1>
        <nav>
            <ul>
                <li><a href="../views/carrito.html">Carrito</a></li>
                <li><a href="../views/ofertas.html">Ofertas</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li><a href="../views/soporte.html">Soporte</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>