<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Noticias de Último Momento</title>
</head>
<body>
    <header>
        
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
            <div class="nav-title">
                <a href="../index.html">Una Página</a>
            </div>
            </div>
            <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
            </div>
            
            <div class="nav-links">
            <a href="../views/economia.html">Economia</a>
            <a href="../views/cultura.html">Cultura</a>
            <a href="../views/politica.html">Politica</a>
            <a href="../views/ultimo-momento.html">Ultimo Momento</a>
            </div>
        </div>
    </header>


    <div class="container">
        <h2 class="mt-4">ULTIMO MOMENTO</h2>
        <div class="row mt-5">
        <div class="col">
            <h3 class="pt-3">Noticia 1</h3>
            <img src="../assets/img/Economia2.jpg" alt="" class="w-100">
            <h4>La política fiscal y el efecto inflacionario</h4>
            <p class="">El IPC creciendo al 100% anual juega a favor de la recaudación oficial por la distorsión de las escalas y mínimos no imponibles.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 2</h3>
            <img src="../assets/img/Economia7.jpg" alt="" class="w-100">
            <h4>Argentina y un mercado laboral con grieta</h4>
            <p class="">Mientras la tasa de desempleo sigue bajando, se va precarizando más el mercado laboral contra el empleo formal privado.</p>
            <button class="">Mas Información</button>
        </div>
        
        <div class="col">
            <h3 class="pt-3">Noticia 3</h3>
            <img src="../assets/img/Cultura4.jpg" alt="" class="w-100">
            <h4>BA Danza Contemporánea 2022: lo mejor de las artes del movimiento</h4>
            <p class="">Lo mejor de la danza contemporánea en Buenos Aires, del 28 de octubre al 3 de noviembre.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 4</h3>
            <img src="../assets/img/Cultura3.jpg" alt="" class="w-100">
            <h4>"Maradona" y "Santa Evita" nominadas a los Premios Cóndor de Plata</h4>
            <p class="">Por primera vez la Asociación de Cronistas Cinematográficos de Argentina nominó a las producciones audiovisuales en formato de serie, que se distinguirán con el codiciado premio.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h3 class="pt-3">Noticia 5</h3>
            <img src="../assets/img/Cultura7.jpg" alt="" class="w-100">
            <h4>Comienza el Festival de Cine Inusual de Buenos Aires</h4>
            <p class="">La decimoséptima edición del evento se realizará del jueves 20 al domingo 30 de octubre. Y tendrá 3 sedes: Cine Gaumont, Centro Cultural San Martin y la Biblioteca del Congreso de la Nación.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 6</h3>
            <img src="../assets/img/Cultura1.jpg" alt="" class="w-100">
            <h4>Guillermo Schavelzon: Secretos de un agente literario</h4>
            <p class="">Editor de larga trayectoria, hoy representa a los principales escritores argentinos. Memorias, algoritmos y el libro en tiempos digitales.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 7</h3>
            <img src="../assets/img/Politica2.jpeg" alt="" class="w-100">
            <h4>Polémica en familia: hermanos en la política</h4>
            <p class="">No solo las hermanas Losada comparten vida en la actividad pública. También hay otros casos célebres actuales e históricos.</p>
            <button class="">Mas Información</button>
        </div>
        <div class="col">
            <h3 class="pt-3">Noticia 8</h3>
            <img src="../assets/img/Politica7.jpg" alt="" class="w-100">
            <h4>Waldo Wolff dice que el Estado perdió U$S500 mil por la compra de un avión</h4>
            <p class="">El diputado compartió un video en sus redes sociales donde denuncia el hecho.</p>
            <button class="">Mas Información</button>
        </div>
        </div>
    </div>

    <footer class="mt-5 bg-light text-center text-lg-start">

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">UnaPagina.com</a>
        </div>

    </footer>
</body>
</html>